@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NotFound</h2>

<div>
    <p>@Model.Exception.Message</p>
    <p>@Model.Exception.StackTrace</p>
</div>